@model IEnumerable<Matricula_Proyecto.Models.Profesores>

@{
    ViewBag.Title = "Profesores";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre_profesor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido_profesor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo_electronico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_nacimiento_profesor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono_profesor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.area_espec)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_profesor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido_profesor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo_electronico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_nacimiento_profesor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono_profesor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.area_espec)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.profesor_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.profesor_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.profesor_id })
        </td>
    </tr>
}

</table>
