@model Matricula_Proyecto.Models.Matricula

@{
    ViewBag.Title = "Detalles Matricula";
}

<h2>Details</h2>

<div>
    <h4>Matricula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.estudiante.nombre_estudiante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estudiante.nombre_estudiante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horario.dia_semana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horario.dia_semana)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.matricula_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
