@model Matricula_Proyecto.Models.Prematricula

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Prematricula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Estudiante.nombre_estudiante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estudiante.nombre_estudiante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horario.dia_semana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horario.dia_semana)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.prematricula_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
