@model Matricula_Proyecto.Models.Roles

@{
    ViewBag.Title = "Detalles Rol";
}

<h2>Details</h2>

<div>
    <h4>Roles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_rol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion_rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion_rol)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.rol_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
