@model IEnumerable<Matricula_Proyecto.Models.Horarios>

@{
    ViewBag.Title = "Facturacion";
}

<h2>Facturación</h2>

<table class="table">
    <thead>
        <tr>
            <th>Curso</th>
            <th>Horario</th>
            <th>Precio Curso</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var horario in Model)
        {
            <tr>
                <td>@horario.Curso.nombre_curso</td>
                <td>@($"{horario.hora_inicio} - {horario.hora_final}, {horario.Profesor.nombre_profesor}")</td>
                <td>@horario.Curso.precio_curso.ToString("C")</td>
            </tr>
        }
        <tr>
            <td colspan="2"><strong>Total:</strong></td>
            <td>@ViewBag.Total.ToString("C")</td>
        </tr>
    </tbody>
</table>

<a href="@Url.Action("Matricular", "Prematricula")" class="btn btn-primary">Confirmar Matrícula</a>
