@model IEnumerable<Matricula_Proyecto.Models.Cursos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.carrera.nombre_carrera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre_curso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creditos_curso)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.carrera.nombre_carrera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_curso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.creditos_curso)
            </td>
            <td>
                @if (Session["CursosPrematriculados"] != null && ((List<int>)Session["CursosPrematriculados"]).Contains(item.curso_id))
                {
                    <span class="text-success">Horario Prematriculado</span>
                }
                else
                {
                    @Html.ActionLink("Ver Horarios", "ListaHorarios", new { id = item.curso_id })
                }
            </td>
        </tr>
    }
</table>
@using (Html.BeginForm("Matricular", "Prematricula"))
{
    <button type="submit" class="btn btn-primary">Matricular</button>
}
