@model IEnumerable<Matricula_Proyecto.Models.Cursos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.carrera.nombre_carrera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre_curso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creditos_curso)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.carrera.nombre_carrera)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_curso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creditos_curso)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.curso_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.curso_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.curso_id })
        </td>
    </tr>
}

</table>
