@model List<IGrouping<string, Matricula_Proyecto.Models.Horarios>>

<h2>Horarios del Curso: @ViewBag.CursoNombre</h2>

@foreach (var grupo in Model)
{
    <h3>@grupo.Key</h3>
    <ul>
        @foreach (var horario in grupo)
        {
            <li>@horario.hora_inicio</li>
            <li>@horario.hora_final</li>
            <li>@horario.Profesor.nombre_profesor</li>
            <form method="post" action="@Url.Action("Prematricula", "Prematricula")">
                <input type="hidden" name="horarioId" value="@horario.horario_id" />
                <button type="submit" class="btn btn-success">Prematricular</button>
            </form>
        }
    </ul>
}
