@model Matricula_Proyecto.Models.Carreras

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Carreras</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_carrera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_carrera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.carrera_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
