@model Matricula_Proyecto.Models.Estudiantes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Estudiantes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Carrera.nombre_carrera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carrera.nombre_carrera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario.usuario_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.usuario_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre_estudiante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_estudiante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido_estudiante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido_estudiante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo_estudiante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo_estudiante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_nacimiento_estudiante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_nacimiento_estudiante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion_estudiante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion_estudiante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono_estudiante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono_estudiante)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.estudiante_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
