@model IEnumerable<Matricula_Proyecto.Models.Calificaciones>

@{
    ViewBag.Title = "Calificaciones";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.estudiante.nombre_estudiante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horario.dia_semana)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nota_curso)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.estudiante.nombre_estudiante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horario.dia_semana)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nota_curso)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.calificacion_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.calificacion_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.calificacion_id })
        </td>
    </tr>
}

</table>
