@model Matricula_Proyecto.Models.Horarios

@{
    ViewBag.Title = "Detalles Horarios";
}

<h2>Details</h2>

<div>
    <h4>Horarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Curso.nombre_curso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.nombre_curso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profesor.nombre_profesor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profesor.nombre_profesor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dia_semana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dia_semana)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hora_inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora_inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hora_final)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora_final)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.horario_id }) |
    @Html.ActionLink("Back to List", "Index")
    @Html.ActionLink("Listar Estudiantes por Horario", "ListarEstudiantesPorHorario", "Estudiantes", new { cursoId = Model.curso_id }, null)
</p>
