<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Sistema Matricula", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>

                    @if (string.Equals(Session["Rol"] as string, "Admin", StringComparison.OrdinalIgnoreCase))
                    {
                        <li>@Html.ActionLink("Estudiantes", "Index", "Estudiantes", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Cursos", "Index", "Cursos", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Carreras", "Index", "Carreras", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Profesores", "Index", "Profesores", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Horarios", "Index", "Horarios", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Usuarios", "Index", "Usuarios", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Roles", "Index", "Roles", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Admins", "Index", "Admins", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Matricula", "Index", "Matriculas", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Calificaciones", "Index", "Calificaciones", new { area = "" }, new { @class = "nav-link" })</li>
                    }

                    @if (string.Equals(Session["Rol"] as string, "Profesor", StringComparison.OrdinalIgnoreCase))
                    {
                        <li>@Html.ActionLink("Calificaciones", "Index", "Notas", new { area = "" }, new { @class = "nav-link" })</li>
                    }

                    @if (string.Equals(Session["Rol"] as string, "Estudiante", StringComparison.OrdinalIgnoreCase))
                    {
                        <li>@Html.ActionLink("Mis Cursos", "CursosMatriculados", "Prematricula", new { area = "" }, new { @class = "nav-link" })</li>
                    }


                    @if (Session["UserName"] != null)
                    {
                        if (Session["EstudianteNombre"] != null)
                        {
                            <li class="nav-link">@Session["EstudianteNombre"]</li>
                        }
                        else if (Session["ProfesorNombre"] != null)
                        {
                            <li class="nav-link">Profesor @Session["ProfesorNombre"]</li>
                        }
                        else if (Session["AdminNombre"] != null)
                        {
                            <li class="nav-link">@Session["AdminNombre"]</li>
                        }

                <li>@Html.ActionLink("Salir", "Index", "Login", new { area = "" }, new { @class = "btn btn-danger" })</li>

                    }
                    else
                    {
                        <li>@Html.ActionLink("Iniciar Sesión", "Index", "Login", new { area = "" }, new { @class = "nav-link" })</li>
                    }

                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
